
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link href="css/menu.css" rel="stylesheet">

</head>

<body style="background-image: url('../img/fin1.jpg')">

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Cgf Bourse</div>
      <div class="list-group list-group-flush">
        <a href="menu.html" class="list-group-item list-group-item-action active">Accueille</a>
        <a href="demandeConges.html" class="list-group-item list-group-item-action ">Demande congés</a>
        <a href="demandeAchat.html" class="list-group-item list-group-item-action ">Demande achat</a>
      
      </div>
    </div>
      
     <div class="container">
            <div class="row">
                    <div class="col-md-12">
                        
                            <div class="card text-center">
                                <div class="card-header">
                                Liste des demande d'achat
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Handle</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                    </div>
              <div class="row"></div>
                    <div class="col-md-12">
                        
                            <div class="card text-center">
                                <div class="card-header">
                                  Liste des demande d'achat
                                </div>
                                <div class="card-body">
                                   
                                </div>
                                
                            </div>
                    </div>
                </div>
     </div>
  </div>
 

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
